<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
    <!--所有页面共有底部-->
    <div th:fragment="footer">
        <div class="footer">
            <div class="footer am-u-sm-centered" style="height: 42.5px; background-color: #222222;">
                <div class="am-vertical-align" style="text-align: center;">
                    <div class="am-vertical-align-bottom">
                        <div style="color: #009688;font-size: 15px; line-height: 42.5px;">
                            &copy; WELCOME ZHBIT
                        </div>
                    </div>
                </div>
            </div>
            <div id="back-to-top" style="bottom: 60px; right: 40px; width: 50px; position: fixed; display: none;">
                <a href="#top" title="回到顶部">
                    <img src="img/top.png" style="width: 50px; max-width: 50px;"/>
                </a>
            </div>
        </div>
    </div>
</html>